@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }
}

.animate-float {
    animation: float 3s ease-in-out infinite;
}

.animate-float-delay-1 {
    animation: float 3s ease-in-out infinite;
    animation-delay: 0.5s;
}

.animate-float-delay-2 {
    animation: float 3s ease-in-out infinite;
    animation-delay: 1s;
}

.group:hover .animate-float,
.group:hover .animate-float-delay-1,
.group:hover .animate-float-delay-2 {
    animation-play-state: paused;
}